.tb-header
{
	padding: 8px;
	padding-top: 30px;
}
.tb-header h1
{
	margin: 8px;
}

.tb-header h2
{
	color: Gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	padding: 8px;
}

.tb-header .tb-description
{
	padding: 8px;
}

img
{
	display: inline-block;
  	height: auto;
  	max-width: 100%;
}

.wp-caption {
  margin-bottom: 20px;
  max-width: 100%;
}

.wp-caption-text
{
	text-align: justify;
	margin: 10px;
	font-size: 12px;
}